#abc{
    text-align: center;
    table-layout: auto;
    font-weight: 100;
    font-style: normal;
}
#a{
    font-size: auto;
    flex-basis: auto;
    color: red;
    height: 20%;
    width: 20%;
}